if SHIELD_FERRIS_BLING_LEFT

config ZMK_KEYBOARD_NAME
    default "ferris BLING"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_FERRIS_BLING_LEFT || SHIELD_FERRIS_BLING_RIGHT

config ZMK_SPLIT
    default y

endif
